body{
    background-color: #f7f6f6;
}
input{
    outline: none;
}
:root{
    --main_color:#c72092;
    --second_color:#6c14de;
    --main_background:linear-gradient(to right,#c72092 ,#6c14de);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #222;
    transition: color 0.3s;
}
i ,a{
    transition: all 1s;
} 
a:hover ,i:hover{
    color: var(--second_color);
}
ul{
    list-style-type: none;
}
.main-nav{
    background-color: hsl(0, 0%, 99%);
    box-shadow: 0 0 8px 0.2px #222 !important;
    position: fixed;
    top:0;
    z-index: 99999;
    width: 100%;
}
.right-nav{
    position:fixed;
    background:#e4e4e4;
    top:0;
    right:0;
    width:40%;
    height: 100%;
    z-index: 99999;
}
.login-nav-btn{
    background-color: transparent;
    border:1px solid var(--second_color);
    color:var(--second_color);
    border-radius:1.5rem;
    transition: all 1s;
}
.login-nav-btn:hover{
    background-color: var(--main_color);
    color: #f7f5f5;
    border:1px solid var(--main_color);
}
.text-shoe{
    color: var( --main_color);
}
.letter-s{
   color: var(--second_color);
   border-bottom:3px solid var(--second_color);
}
.menu-nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    z-index: 99999;
    background-color: #f8f7f8;
    color: var( --main_color);
    box-shadow: #22222231 1px 1px 4px 0.1px;
}
menu{
    box-shadow: #22222231 1px 1px 4px 0.1px;
    padding: 0.6rem;
    border-radius: 0.3rem;   
}
.Home{
    background-image: url(../images/cover-home-page.png);
    background-size:cover;
    margin-top: 75px;
}
.main-text{
    font-size:2.8rem;
    line-height:90px;
    font-family: pyxidium quick;
    background:var(--main_background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    color: #b3b0b8;
    font-weight: 700;
    font-size: 2.5rem;
}
.shop-now-home-btn ,.add-cart-btn{
    background:var(--main_background);
    border-radius:0.3rem;
    color: #e4e4e4;
    border: 0;
    padding:0.5rem;
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 1s;
}
.shop-now-home-btn:hover ,.add-cart-btn:hover{
    color: #f5f5f5;
    border: 0;
    background-position: right; 
}
.product-text ,.text-about ,.text-customers-review ,.text-our-services{
    background:var(--main_background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:700;
    font-size:3rem !important;    
}
.product-cover{
    max-width:300px;
}
.content-product{ 
    position: relative;
    box-shadow:1px 0 9px 0 #d8c7ee;
    width: 250px;
    background-color: #f7f5f5;
    border-radius:0.5rem;
    transition:all 1s;
    z-index: 9999;
    cursor: pointer;
    min-height:300px;
}
.images-display-product img{
    background:var(--main_background);
    height:20%;
    border-bottom:0.5px solid #dfdada;
    padding: 8px;
}
.product-cover p{
    font-size:13px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.icon-like{
    position: absolute;
    top: 0.9rem;
    left: 1rem;
    background-color: transparent;
    font-size: 15px;
}
img{
    transition: all 1s;
}
img , i , button{
    cursor: pointer;
}
i{
    font-size: 20px;
}
.content-product:hover img{
    transform:scale(1.2 ,1.2);
}
.text-about{
   font-size:2.5rem !important;
}
.slider-img{
    box-shadow: 1px 0 5px 1.9px #e7cdcd;
    height: 100%;
}
.text-about-page{
    box-shadow:3px 6px 15px 0 #d6cbdf96;
    background-color: #fafafa;
    border-radius: 0.6rem;
    transform:skew(-8deg ,3deg);
    margin-top: 60px;
}
.text-about-page p{
    font-size: 1.2rem;
    margin-left: 30px;
}
.shop-now-about-btn{
    background-color: transparent;
    box-shadow: 0 0 3px 1px var(--main_color);
    border: 0;
    border-radius:0.9rem;
    transition: all 1s;
}
.shop-now-about-btn:hover{
    background-color: var(--main_color);
    color: #e0d9d9;
}
.Our-text{
    font-size: 40px !important;
}
.Accordion_Header{
    position: relative;
}
.accordion_Item{
    background-color: #fdfdfd;
    padding: 0;
    height: 60px;
    overflow: hidden;
    transition: height 2s ease;
    border-bottom: #b4b4b4;
    box-shadow: 1px 1px 0.5px 0.5px #b4b4b4;
}
.customer-name{
    position:absolute;
    top:20px;
    left: 10px;
}
.angle_down_btns ,.angle_up_btns{
    width: 100%;
    height: 60px;
    padding: 20px 40px;
    border: 0;
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    font-weight: 500;
}
.accordion_body{
    height: 0;
}
.show{
    height: 240px !important;
    padding: 20px !important;
}
.angle-down ,.angle-up{
    transition: all 1s;
}
.angle_down_btns:hover .angle-down ,.angle_up_btns .angle-up{
  color:var(--main_color) ;
}
.accordion_body p{
    font-size: 1rem;
}
.customer{
    background-color: #e0d9d9;
}
.customer-image{
    border-radius: 50%;
}
.like{
    color: orange;
    font-size:12px;
}
.comment-customer{
   font-size:0.8rem !important;
}
.text-customers-review ,.text-our-services{
    font-size:2.5rem !important;
} 
.services-paragraph{
    font-size:12px;
}
.truck-fast ,.rotate-left ,.headset{
    font-size:70px !important;
    color: orange;
}
.fa-star ,.fa-star-half-stroke{
    font-size: 14px !important;
}
.footer{
    background-color: #e0d9d9;
}
.tag a{
    display: block;
    font-size:15px;
}
.tag h4{
    color: var(--second_color);
}
.Subscribe-input{
    background-color: #bdbaba;
    color: #f7f5f5;
    border-radius:1rem;
    border: 0; 
    width: 100%;
    height:33%;
    border-radius: 0.2rem;
    font-size: 1rem;
}
.Subscribe-btn{
    background:var(--main_background);
    width: 70%;
    height:33%;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    border: 0;
    color: #e4e4e4;
}
#logIn-page{
    display: none;
}
.login-cover{
    background-image:url(../images/loging_bg.png);
    background-size: cover;
}
.logIn-page-content{
    flex-wrap: wrap;
}
form h2{
    width:50%;
    margin: auto;
}
form label{
    width: 50%;
}
form input{
    background-color: transparent;
    border:2px solid var(--main_color);
    width:75%;
}
form button{
    background:var(--main_background);
    display: block;
    width:75%;
    border: 0;
}
form img{
    margin-top: 25px;
    border-radius: 50%;
    background-color: #f3f3f3;
}
.logIn-page-content p {
    font-size: 0.8rem;
    padding-top: 0.3rem;
    padding-left: 0.6rem !important;
    color: #3a393998;
}
.active{
    color: var(--second_color);   
}
@media screen and ( max-width:600px ){
.main-nav{
    display: none;
}
.menu-nav{
    display: flex;
    z-index: 99999999;
}
.login-nav-btn{
    margin-top: 20px;
    width: 100%;
}
.right-nav{
    display: none;
    width:50%;
}
.Home{
    margin-top: 0px;
    background-image: none;
}
.image-home{
    display: none;
}
.images-display-product img{
    background:linear-gradient(to bottom,#c72092 ,#6c14de);
    border-right:0.5px solid #dfdada;
}
.text-about-page p{
    font-size: 1rem;
    margin-left: 0 !important;
}
.comment-customer ,.name-customer{
    font-size:1.8rem !important;    
}
.tag h4{
    font-size: 20px;
}
.tag a{
    display: block;
    font-size:17px;
}
h6{
    font-size:20px;
}
.Subscribe-input ,.Subscribe-btn{
    width: 100%;
    height:33%;
    border-radius: 0.2rem;
    font-size: 1rem;
}
.Subscribe-btn{
    border-radius: 0.4rem;
    width: 70%;
    margin: auto;
}
}
@media screen and (min-width:600px) and (max-width:851px) {
.main-nav{
    display: none;
}
.right-nav{
    display: none;
}
.menu-nav{
     display:flex
}
}
@media screen and (min-width:851px){
.right-nav{
    display: none !important;
}
.menu-nav{
     display:none !important
}
}
